<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allan.springBootBoard.web.board.repository.mapper.BoardMapper">

    <select id="selectBoardList" resultMap="BoardDTOS" parameterType="Search">
        SELECT
        b.board_id, b.title, b.tag, b.view_cnt, b.created_by, b.created_date, m.name, m.auth_id, m.role
        FROM
        BOARD b join MEMBER m on b.member_id = m.member_id
        <where>
            <if test="searchType=='title' and keyword != null and keyword != '' ">
                b.title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType=='content' and keyword != null and keyword != '' ">
                b.content like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType=='registerId' and keyword != null and keyword != '' ">
                b.created_by like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY board_id DESC
        LIMIT #{startList}, #{listSize}
    </select>

    <select id="selectBoardListCnt" resultType="int" parameterType="Search">
        SELECT
        count(*) as boardListCnt
        FROM
        BOARD
        <where>
            <if test="searchType=='title' and keyword != null and keyword != '' ">
                title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType=='content' and keyword != null and keyword != '' ">
                content like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType=='registerId' and keyword != null and keyword != '' ">
                created_by like CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <delete id="deleteAll" >
        DELETE FROM BOARD
    </delete>

    <select id="selectMyBoardListCnt" resultType="int" parameterType="long">
        SELECT
        count(*) as myBoardListCnt
        FROM
        BOARD
        WHERE member_id = #{memberId}
    </select>

    <select id="selectMyBoardListByLoginId" resultMap="BoardDTOS" parameterType="HashMap">
        SELECT
        b.board_id, b.title, b.content, b.tag, b.view_cnt, b.created_by, b.created_date, m.name, m.auth_id, m.role
        FROM
        BOARD b join MEMBER m on b.member_id = m.member_id
        WHERE b.member_id = #{memberId}
        <trim prefix="AND">
            <if test="searchType=='title' and keyword != null and keyword != '' ">
                b.title like CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType=='content' and keyword != null and keyword != '' ">
                b.content like CONCAT('%', #{keyword}, '%')
            </if>
        </trim>
        ORDER BY board_id DESC
        LIMIT #{startList}, #{listSize}
    </select>

    <resultMap id="BoardDTOS" type="BoardDTO">
        <constructor>
            <idArg column="board_id" javaType="Long" />
            <arg column="title" javaType="String" />
            <arg column="view_cnt" javaType="Long" />
            <arg column="created_by" javaType="String" />
            <arg column="created_date" javaType="java.time.LocalDateTime" />
            <arg column="name" javaType="String" />
            <arg column="auth_id" javaType="String" />
            <arg column="role" javaType="com.allan.springBootBoard.web.member.domain.MemberRole" />
        </constructor>
    </resultMap>

</mapper>